<div class="page-header">
  <h3>Users List</h3>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="btn-group">
      <a class="btn btn-sm btn-default mb-2"
              type="button"
              [routerLink]="selectedItem ? ['/user', selectedItem.id]:['']"
              [ngClass]="{ 'disabled': selectedItem === null }"
              placement="top"><i class="fa fa-pencil"></i> Edit</a>
      <button class="btn btn-sm btn-default mb-2"
              type="button"
              (click)="showDeleteModal()"
              [disabled]="selectedItem === null">
        <i class="fa fa-times"></i> Delete</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a [routerLink]="['/user', 'new']" type="button" class="btn btn-sm btn-default">
        <i class="fa fa-plus"></i> Add
      </a>
    </div>
  </div>
</div>

<table class="table table-striped" #mf="mfDataTable" [mfData]="users" [mfRowsOnPage]="5">
  <thead>
  <tr>
    <th><mfDefaultSorter by="id">Id</mfDefaultSorter></th>
    <th><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
    <th><mfDefaultSorter by="lastName">Last Name</mfDefaultSorter></th>
    <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
    <th><mfDefaultSorter by="gender">Gender</mfDefaultSorter></th>
    <th><mfDefaultSorter by="birthday">Birthday</mfDefaultSorter></th>
    <th><mfDefaultSorter by="address">Address</mfDefaultSorter></th>
    <th><mfDefaultSorter by="status">Status</mfDefaultSorter></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of mf.data" (click)="select(user)" [ngClass]="{ 'selected-row' : isSelected(user)}">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.birthday | amCalendar}}</td>
      <td>{{user.address}}</td>
      <td><span class="label" [ngClass]="user.getStatusLabelClass()">{{user.status | uppercase}}</span></td>
    </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="8">
      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>




