<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">Total users count</div>
      <div class="panel-body text-center">
        <h1 class="total-user-count">{{getTotalCount()}}</h1>
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
          <a [routerLink]="['/users']">Go to users <i class="fa fa-external-link"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <canvas baseChart
            [data]="chartData"
            [labels]="chartLabels"
            [colors]="chartColors"
            [chartType]="chartType"></canvas>
  </div>
</div>
